* {
  margin: 0;
  padding: 0;
}

.div1 {
  background-image: linear-gradient(to right, rgba(41, 228, 219, 0.486), grey);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.div2 {
  background-color: rgb(241, 195, 241);
  height: 80vh;
  width: 30%;
  border-radius: 20px;
  padding: 10px 0 0 0;
}
.div3 {
  display: flex;
  flex-direction: row;
  height: 8%;
  text-align: center;
  margin: 0 10px ;
  justify-content: space-between;

}
.header {
  text-align: center;
  background-color: rgb(245, 122, 163);
  width: 100%;
  margin-bottom: 2rem;
}
 .inputfield {
  border-radius: 20px;
  text-align: center;
  background-color: greenyellow;
  min-width: 60%;
}

 .btn {
  height: 5vh;
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  border-color: green;
  font-size: large;
  background-color: greenyellow;
}
.btn:hover {
  background-color: rgb(12, 199, 83);
  cursor: pointer;
}
.btn2 {
  background-color: palevioletred;
  height: 4vh;
  width: max-content;
  font-size: 30px;
  border-color: black;
  border-radius: 10px;
  color: aliceblue;
}
.btn2:hover {
  background-color: rgb(241, 10, 10);
  cursor: pointer;
}
.list {
  margin-left: 30px;
}

.todoListContainer {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
